article, section {
  max-width:540px;
}
article {
  margin: 4em 0;
  /* float:left;
  position:relative; */
}

.info-section {
  background: #666666;
  padding: 1em;
  color:#ccc;
}

.book-img-container {
  text-align: center;
  background: #999999;
  padding:1em;
}

.img-detail {
  padding: 2em;
  text-align:center;
  border:solid 1px #000;
  background:#fff;
}

.book-description {
  margin: 1.5em 0;
}

.left-detail {
  /* float: left; */
}